<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <link rel="stylesheet" href="index.css" />
</head>
<body>
  <div class="fon">
    <header class="header container">
      <div class="logo-block">
        <img src="image/logo.svg" alt="" class="logo-img" />
        <h1 class="site-title">Logic Duel</h1>
      </div>
      <a href="main.html" class="btn">Вернуться на главную</a>
    </header>

    <h1 class="select-title">Выберите режим игры</h1>
    <div class="game container"> 
      <div class="g">
        <h2>Numbly</h2>
        <a href="index.html" class="btn2">1. Вы отгадываете число</a>
        <a href="index2.html" class="btn2">2. Игра с другом</a>
      </div>
    <div class="g">
      <h2>Угадай число</h2>
      <a href="/game/1.1"class="btn2">1.1 — Вы угадываете число</a>
	  <a href="/select_range_1_2" class="btn2">1.2 — Компьютер угадывает ваше число</a>
	  <a href="/room_setup" class="btn2">Перейти в лобби</a>
    </div>
    <div class="g">
      <h2>Wordly</h2>
      <a href="#" class="btn2">1. Вы отгадываете слово</a>
      <a href="#" class="btn2">2. Игра с другом</a>
    </div>
  </div>
</body>
</html>



